h2{
    font-family: 'Cinzel', serif;
    color:black  
}
body{
    text-align: center;
    background:gainsboro;
    font-family: 'Special Elite', cursive;
}
#title h3{
    background: white;
    color: #ce2700;
}
button{
    font-family: 'Roboto', sans-serif;
    width: 100px;
    background-color: lightskyblue;
    letter-spacing: 3px;
    border-radius: 10px;
    margin-top: 15px;
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    padding-bottom: 20px
}